In [15]:
from datathon import Datathon
import matplotlib.pyplot as plt
import plotly
import plotly.figure_factory as ff
plotly.tools.set_credentials_file(username='lucasp0927', api_key='zLot8dyzujNPyAgKtabm')

In [2]:
D = Datathon('SoCal Datathon Data Table Heads.csv')

data set name:  chemicals
number of features:  12
open file  ./processed/chemicals.csv
data set name:  droughts
number of features:  11
open file  ./processed/droughts.csv
data set name:  earnings
number of features:  31
open file  ./processed/earnings.csv
data set name:  education_attainment
number of features:  12
open file  ./processed/education_attainment.csv
data set name:  industry_occupation
number of features:  18
open file  ./processed/industry_occupation.csv
data set name:  water_usage
number of features:  117
open file  ./processed/water_usage.csv
data sets:  ['chemicals', 'droughts', 'earnings', 'education_attainment', 'industry_occupation', 'water_usage']
                               cws_name chemical_species  \
0  CALIFORNIA WATER SERVICE - LIVERMORE          Uranium
1                     CITY OF LIVERMORE          Uranium
2                    CITY OF PLEASANTON          Uranium
3    DUBLIN SAN RAMON SERVICES DISTRICT          Uranium
4    NORRIS CANYON PROPERTY OWNERS ASSN          Uranium

        contaminant_level   county     pws_id  pop_served       state  \
0  Less than or equal MCL  Alameda  CA0110003       57200  California
1  Less than or equal MCL  Alameda  CA0110011       26400  California
2  Less than or equal MCL  Alameda  CA0110008       70600  California
3  Less than or equal MCL  Alameda  CA0110009       72500  California
4  Less than or equal MCL  Alameda  CA0103040         100  California

  unit_measurement  value  year  fips
0     micrograms/L   1.54  2000  6001
1     micrograms/L   1.64  2000  6001
2     micrograms/L   1.64  2000  6001
3     micrograms/L   1.64  2000  6001
4     micrograms/L   4.51  2000  6001
   fips                  county state  none  d0  d1  d2  d3  d4 valid_start
0  2013  Aleutians East Borough    AK   100   0   0   0   0   0    12/26/17
1  2013  Aleutians East Borough    AK   100   0   0   0   0   0    12/19/17
2  2013  Aleutians East Borough    AK   100   0   0   0   0   0    12/12/17
3  2013  Aleutians East Borough    AK   100   0   0   0   0   0     12/5/17
4  2013  Aleutians East Borough    AK   100   0   0   0   0   0    11/28/17
           geo_id  fips                   county  total_med  \
0  0500000US01001  1001  Autauga County, Alabama      31811
1  0500000US01003  1003  Baldwin County, Alabama      30099
2  0500000US01005  1005  Barbour County, Alabama      23504
3  0500000US01007  1007     Bibb County, Alabama      30453
4  0500000US01009  1009   Blount County, Alabama      30739

   total_agri_fish_mine  agri_fish_hunt  mining_quarrying_oilgas_extract  \
0                 31793           31957                          22357.0
1                 33173           27342                          80938.0
2                 16167           14464                          27500.0
3                 45237           46064                          34406.0
4                 26909           25610                          54375.0

   construction  manufacturing  wholesale_trade    ...         mgmt  \
0         30347          44452            38203    ...          NaN
1         30068          41917            43444    ...          NaN
2         20305          27630            18777    ...          NaN
3         30288          36231            43403    ...      67917.0
4         33055          32084            33198    ...          NaN

   admin_sup  total_edu_health_social  edu_serv  health_social  \
0      31250                    30306     34358          26839
1      23910                    34506     37341          30968
2      20179                    22398     42264          20434
3      13636                    25474     36618          21632
4      27553                    31931     36631          29958

   total_arts_ent_acc_food  arts_ent_rec  acc_food_serv  other_ser  pub_admin
0                    11231         10272          11430      26279      46858
1                    14924         17414          14765      21440      38629
2                     6473         10724           5972      16090      30871
3                    16530          5114          20481      30956      33095
4                     7535         10050           7282      25326      34838

[5 rows x 30 columns]
   fips state          county  year  less_than_hs  hs_diploma  \
0     0    US   United States  1970      52373312    34158051
1  1000    AL         Alabama  1970       1062306      468269
2  1001    AL  Autauga County  1970          6611        3757
3  1003    AL  Baldwin County  1970         18726        8426
4  1005    AL  Barbour County  1970          8120        2242

   some_college_or_associates  college_bachelors_or_higher  pct_less_than_hs  \
0                    11650730                     11717266              47.7
1                      136287                       141936              58.7
2                         933                          767              54.8
3                        2334                         2038              59.4
4                         581                          861              68.8

   pct_hs_diploma  pct_college_or_associates
0            31.1                       10.6
1            25.9                        7.5
2            31.1                        7.7
3            26.7                        7.4
4            19.0                        4.9
           geo_id  fips                   county  total_employed  agriculture  \
0  0500000US01003  1003  Baldwin County, Alabama         77263.0       1302.0
1  0500000US01015  1015  Calhoun County, Alabama         42768.0        337.0
2  0500000US01043  1043  Cullman County, Alabama             NaN          NaN
3  0500000US01049  1049   DeKalb County, Alabama             NaN          NaN
4  0500000US01051  1051   Elmore County, Alabama             NaN          NaN

   construction  manufacturing  wholesale_trade  retail_trade  \
0        6489.0         6134.0           2131.0        9525.0
1        1371.0         7868.0            750.0        5706.0
2           NaN            NaN              NaN           NaN
3           NaN            NaN              NaN           NaN
4           NaN            NaN              NaN           NaN

   transport_utilities  information  finance_insurance_realestate  \
0               3557.0        940.0                        5893.0
1               1626.0        779.0                        2234.0
2                  NaN          NaN                           NaN
3                  NaN          NaN                           NaN
4                  NaN          NaN                           NaN

   prof_scientific_waste  edu_health  arts_recreation   other  public_admin
0                 9873.0     14753.0           8257.0  3575.0        4834.0
1                 3776.0      8351.0           3799.0  2440.0        3731.0
2                    NaN         NaN              NaN     NaN           NaN
3                    NaN         NaN              NaN     NaN           NaN
4                    NaN         NaN              NaN     NaN           NaN
  state  state_fips          county  county_fips  fips  year  population  \
0    AL           1  Autauga County            1  1001  2010      54.571
1    AL           1  Baldwin County            3  1003  2010     182.265
2    AL           1  Barbour County            5  1005  2010      27.457
3    AL           1     Bibb County            7  1007  2010      22.915
4    AL           1   Blount County            9  1009  2010      57.322

   pub_sup_1  pub_sup_2  pub_sup_3         ...          thermoelectric_29  \
0        NaN        NaN     48.222         ...                       5.84
1        NaN        NaN    153.463         ...                       0.00
2        NaN        NaN     25.555         ...                       0.00
3        NaN        NaN     21.279         ...                       0.00
4        NaN        NaN     44.464         ...                       0.00

   thermoelectric_30  gro_wat_1  gro_wat_2  gro_wat_3  surf_wat_1  surf_wat_2  \
0            6738.26      18.38          0      18.38       37.17           0
1               0.00      57.35          0      57.35        7.01           0
2               0.00       6.71          0       6.71        4.34           0
3               0.00       6.06          0       6.06        1.55           0
4               0.00       4.04          0       4.04       53.04           0

   surf_wat_3  total_withdrawal_1  total_withdrawal_2
0       37.17               55.55                   0
1        7.01               64.36                   0
2        4.34               11.05                   0
3        1.55                7.61                   0
4       53.04               57.08                   0

[5 rows x 116 columns]

In [10]:
water_usage = D.df_array["water_usage"]
D.df_array["water_usage"].head(5)

,state,state_fips,county,county_fips,fips,year,population,pub_sup_1,pub_sup_2,pub_sup_3,...,thermoelectric_29,thermoelectric_30,gro_wat_1,gro_wat_2,gro_wat_3,surf_wat_1,surf_wat_2,surf_wat_3,total_withdrawal_1,total_withdrawal_2
0,AL,1,Autauga County,1,1001,2010,54.571,NaN,NaN,48.222,...,5.84,6738.26,18.38,0,18.38,37.17,0,37.17,55.55,0
1,AL,1,Baldwin County,3,1003,2010,182.265,NaN,NaN,153.463,...,0.00,0.00,57.35,0,57.35,7.01,0,7.01,64.36,0
2,AL,1,Barbour County,5,1005,2010,27.457,NaN,NaN,25.555,...,0.00,0.00,6.71,0,6.71,4.34,0,4.34,11.05,0
3,AL,1,Bibb County,7,1007,2010,22.915,NaN,NaN,21.279,...,0.00,0.00,6.06,0,6.06,1.55,0,1.55,7.61,0
4,AL,1,Blount County,9,1009,2010,57.322,NaN,NaN,44.464,...,0.00,0.00,4.04,0,4.04,53.04,0,53.04,57.08,0

In [17]:
fips = water_usage["fips"]

0    1001
1    1003
2    1005
3    1007
4    1009
5    1011
6    1013
7    1015
8    1017
9    1019
Name: fips, dtype: int64

In [18]:
pop = water_usage["population"]

0     54.571
1    182.265
2     27.457
3     22.915
4     57.322
5     10.914
6     20.947
7    118.572
8     34.215
9     25.989
Name: population, dtype: float64

In [16]:
fig = ff.create_choropleth(fips=fips, values=pop)
plotly.plotly.iplot(fig, filename='choropleth of some cali counties - full usa scope')

/Users/lucaspeng/.virtualenvs/datascience/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~lucasp0927/0 or inside your plot.ly account where it is named 'choropleth of some cali counties - full usa scope'